<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-fluid" alt="Responsive image">

<form method="post">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="currentLang" id="1" value="1">
        <label class="form-check-label" for="inlineRadio1">Английский</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="currentLang" id="2" value="2">
        <label class="form-check-label" for="inlineRadio2">Немецкий</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
        <label class="form-check-label" for="inlineRadio3">Французский (недоступно)</label>
    </div>

    <p><input type='submit' value='Начать'></p>
</form >


